<div class="container px-5 mx-auto">
  <app-stepper [items]="items">
    <app-step>
      <label class="block">
        <span class="text-gray-700">Name2kjckjdskjkjskjdkqsjkqsjdkqjsk</span>
        <input class="block w-full mt-1 form-input" placeholder="Jane Doe" />
      </label>
    </app-step>
    <app-step>
      <label class="block">
        <span class="text-gray-700">Name3</span>
        <input class="block w-full mt-1 form-input" placeholder="Jane Doe" />
      </label>
    </app-step>
  </app-stepper>
</div>
