<div class="container px-5 mx-auto">
  <app-stepper [canGoNext]="validateStep">
    <app-step title="Personal" icon="/assets/images/svg/step0.svg">
      <form [formGroup]="profileForm">
        <label for="firstName" class="required">First Name * </label>
        <div class="pt-0 mb-3">
          <input
            required
            id="firstName"
            formControlName="firstName"
            type="text"
            placeholder=""
            [ngClass]="{
              'border-red-600':
                profileForm.controls.firstName.invalid &&
                profileForm.controls.firstName.touched
            }"
            class="relative w-full px-3 py-3 text-sm text-gray-600 placeholder-gray-400 bg-white border border-gray-400 rounded outline-none  focus:outline-none focus:ring"
          />
          <div
            class="text-red-600"
            *ngIf="
              profileForm.controls.firstName.errors &&
              profileForm.controls.firstName.touched
            "
          >
            <small *ngIf="profileForm.controls.firstName.errors.required">
              First name is required.</small
            >
          </div>
        </div>

        <label for="first-name">Last Name * </label>
        <div class="pt-0 mb-3">
          <input
            id="last-name"
            formControlName="lastName"
            type="text"
            placeholder=""
            [ngClass]="{
              'border-red-600':
                profileForm.controls.lastName.invalid &&
                profileForm.controls.lastName.touched
            }"
            class="relative w-full px-3 py-3 text-sm text-gray-600 placeholder-gray-400 bg-white border border-gray-400 rounded outline-none  focus:outline-none focus:ring"
          />
          <div
            class="text-red-600"
            *ngIf="
              profileForm.controls.lastName.errors &&
              profileForm.controls.lastName.touched
            "
          >
            <small *ngIf="profileForm.controls.lastName.errors.required">
              Last name is required.</small
            >
          </div>
        </div>
      </form>
    </app-step>

    <app-step title="Experiences" icon="/assets/images/svg/step1.svg">
      <label class="block">
        <span class="text-gray-700">Step 2</span>
        <input class="block w-full mt-1 form-input" placeholder="Jane Doe" />
      </label>
    </app-step>

    <app-step title="Template" icon="/assets/images/svg/step2.svg">
      <label class="block">
        <span class="text-gray-700">Step 3</span>
        <input class="block w-full mt-1 form-input" placeholder="Jane Doe" />
      </label>
    </app-step>
  </app-stepper>
</div>
