<div class="container px-5 py-18 mx-auto">  
    <p class="max-w-md mx-auto mt-3 text-gray-500 dark:text-gray-400">   
         Users of cvmaker are hired at top companies such as  </p>
          <div class="space-x-8 text-center my-4">       
         <img class="inline-block " src="/assets/images/companies/apple.svg" alt="Apple logo" width="24" height="24">     
          <img class="inline-block " src="/assets/images/companies/google.svg" alt="Google logo" width="72"  height="24">     
           <img class="inline-block" src="/assets/images/companies/nike.svg" alt="Nike logo" width="66" height="24"> 
         </div>
</div>