<section class="text-gray-600 body-font overflow-hidden h-screen">
  <div class="container mx-auto h-full">
    <div class="lg:w-4/5 mx-auto flex flex-wrap h-full">
      <div class="md:w-1/2 sm:w-full w-full pr-5 lg:py-6 mt-12 lg:mt-15">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Ouups</h2>
        <h1 class="text-gray-900 text-3xl title-font mb-1 font-bold">
          NOT FOUND
        </h1>

        <p class="leading-relaxed">
          Fam locavore kickstarter distillery. Mixtape chillwave tumeric
          sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps
          cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine
          tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean
          shorts keytar banjo tattooed umami cardigan.
        </p>

        <div class="flex flex-row j my-6">
          <a
            class="
              text-white
              bg-yellow-500
              border-0
              py-2
              px-6
              focus:outline-none
              hover:bg-yellow-600
              rounded
            "
            [routerLink]="['/']"
          >
            Back to home
          </a>
        </div>
      </div>
      <img
        alt="not found"
        class="md:w-1/2 sm:w-full lg:h-auto h-full object-cover object-center"
        src="/assets/images/desert.jpg"
      />
    </div>
  </div>
</section>
