<section class="relative bg-green-500">
  <div class="container z-10 px-4 py-8 mx-auto md:px-48 sm:px-6">
    <div class="flex flex-col w-full mb-12 text-center">
      <h1 class="mb-4 text-2xl font-bold text-white sm:text-3xl title-font">
        Increase your chances of a job considerably
      </h1>
      <p class="mx-auto text-base leading-relaxed text-gray-100 lg:w-2/3">
        With CV maker, you can quickly and easily create a distinctive and
        professional CV within 15 minutes.
      </p>
    </div>
    <div class="flex-col w-full space-x-4 text-center sm:flex-row">
      <button
        class="px-8 py-2 text-lg text-white bg-indigo-500 border-0 rounded  hover:bg-indigo-600 whitespace-nowrap"
      >
        Create Your CV
      </button>
      <div class="relative flex-grow w-full">
        <p
          class="mx-auto mt-4 text-base leading-relaxed text-gray-100 lg:w-2/3"
        >
          You'll be 65% more likely to get a job
        </p>
      </div>
    </div>
  </div>
</section>
