<section class="bg-green-500 m-b-8 z-99">
    <div class="container px-48 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Increase your chances of a job considerably</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-100">With CV maker, you can quickly and easily create a distinctive and professional CV within 15 minutes.</p>
      </div>
      <div class="text-center space-x-4 w-full sm:flex-row flex-col">
        <button class="text-white bg-indigo-500 border-0 py-2 px-8  hover:bg-indigo-600 rounded text-lg whitespace-nowrap">Create Your CV</button>
        <div class="relative flex-grow w-full">
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-100">You'll be 65% more likely to get a job  </p>
    </div> 
    </div>
    </div>
</section>
<div class=" z-100 h-40 bg-green-700 transform -skew-y-6 w-full  ">
    
</div>

