<section class="bg-green-500 dark:bg-green-500">
  <div
    class="z-20 w-full px-4 py-12 mx-auto text-center sm:px-6 lg:py-16 lg:px-8"
  >
    <h2 class="text-3xl text-white sm:text-4xl">
      <span class="block font-bold">
        Create your professional Resume with CV maker
      </span>
    </h2>
    <p class="max-w-md mx-auto mt-4 text-lg text-gray-100">
      Create your very own professional Resume and download it within 15
      minutes.
    </p>
    <div class="lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex mt-12 rounded-md shadow">
        <button
          type="button"
          class="py-4 font-semibold shadow-md gurru-btn primary"
        >
          Create your Resume
        </button>
      </div>
    </div>
  </div>
</section>
<!-- waves svgs -->
<app-spacer [type]="'layered-waves'" [flip]="true"></app-spacer>
<!-- features -->
<app-features></app-features>

<!-- testimonials -->
<app-testimonials class=""></app-testimonials>
<!--  companies  -->
<app-companies></app-companies>
<!-- benifits and link to CV Creation -->
<app-spacer [type]="'layered-peaks'" [flip]="false"></app-spacer>
<app-benifits></app-benifits>
<app-spacer [type]="'layered-peaks'" [flip]="true"></app-spacer>
