<footer class="bg-white dark:bg-gray-800">
  <div class="container px-6 py-8 mx-auto">
    <div class="text-center">
      <a
        href="#"
        class="
          text-2xl
          font-bold
          text-gray-800
          dark:text-white
          hover:text-gray-700
          dark:hover:text-gray-300
        "
        >Brand</a
      >

      <p class="max-w-md mx-auto mt-2 text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>

      <div
        class="flex flex-col mt-4 sm:flex-row sm:items-center sm:justify-center"
      >
        <button
          class="
            gurru-btn
            secondary
            flex
            items-center
            justify-center
            order-1
            text-sm
          "
        >
          <img class="w-5 h-5" src="/assets/images/svg/demo.svg" alt="" />

          <span class="mx-1">View Demo</span>
        </button>

        <button class="gurru-btn primary sm:mx-2 sm:order-2 sm:w-auto text-sm">
          Get started
        </button>
      </div>
    </div>

    <hr class="my-10 dark:border-gray-500" />

    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
      <p class="text-sm text-gray-400">
        © Copyright 2021. All Rights Reserved.
      </p>

      <div class="flex mt-3 -mx-2 sm:mt-0">
        <a
          href="#"
          class="
            mx-2
            text-sm text-gray-400
            hover:text-gray-500
            dark:hover:text-gray-300
          "
          aria-label="Reddit"
        >
          Teams
        </a>

        <a
          href="#"
          class="
            mx-2
            text-sm text-gray-400
            hover:text-gray-500
            dark:hover:text-gray-300
          "
          aria-label="Reddit"
        >
          Privacy
        </a>

        <a
          href="#"
          class="
            mx-2
            text-sm text-gray-400
            hover:text-gray-500
            dark:hover:text-gray-300
          "
          aria-label="Reddit"
        >
          Cookies
        </a>
      </div>
    </div>
  </div>
</footer>
